@import "../../responsive.scss";

.card {
  display: flex;
  gap: 20px;
  border: 1px solid rgb(184, 184, 184);
  padding: 10px;
  border-radius: 5px;

  @include sm{

    flex-direction: column;
}

  

  .imgContainer {
    flex: 2;
    height: 200px;

    @include sm{
        height: 200px;
        width: 280px;
        display: flex;
        justify-content: center;
        flex: 1;
        margin: auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .textContainer {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @include sm{
        gap: 10px !important;
    }

    img {
      width: 16px;
      height: 16px;

    }

    .title {
      font-size: 20px;
      font-weight: 600;
      color: #444;
      transition: all 0.2s ease;

      @include sm{
     font-size: 18px;
    }

      &:hover {
        color: #000;
        scale: 1.01;
      }
    }

    .address {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 5px;
      color: #888;
    }

    .price {
      font-size: 20px;
      font-weight: 300;
      padding: 5px;
      border-radius: 5px;
      background-color: rgb(255, 234, 47);
      width: max-content;
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      .features {
        display: flex;
        gap: 20px;
        font-size: 14px;

        @include sm{
            font-size: 12px;
            gap: 5px;
        }

        .feature {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          background-color: whitesmoke;
          border-radius: 5px;
          padding: 4px;
        }
      }
      .icons {
        display: flex;
        gap: 20px;

        .icon {
          border: 1px solid #999;
          padding: 6px;
          border-radius: 5px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: lightgray;
          }
        }
      }
    }
  }
}
