@import "../../responsive.scss";

.homePage {
  display: flex;
  height: 100%;

  .textContainer {
    flex: 3;
    
    
    .wrapper {
      
      padding-right: 80px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 50px;
      height: 100%;
      
      @include md {
        padding: 0;
      }

      @include sm {
        justify-content: flex-start;
        padding-top: 20px;
      }

      .title {
        font-size: 64px;

        @include lg {
          font-size: 47px;
        }

        @include sm {
          font-size: 28px;
        }
      }

      .boxes {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include sm {
          display: none;
        }
        h2 {
          font-size: 26px;
          @include lg {
            font-size: 32px;
          }
        }

        h3 {
          font-size: 18px;
          font-weight: 300;
        }
      }
    }
  }

  .imgContainer {
    flex: 2;
    background-color: #fcf5f3;
    position: relative;
    display: flex;
    align-items: center;
    

    @include md {
        display: none;
      }
  

    img {
      top: 30px;
      width: 115%;
      position: absolute;
      right: 0;

      @include lg {
        width: 105%;
      }
    }
  }
}
