.searchBar{
    .type{
        button{
            padding: 16px 36px;
            border: 1px solid #999;
            background-color: #fff;
            cursor: pointer;
            text-transform: capitalize;
            letter-spacing: 0.09em;
            font-family: "lato";
            
        &.active{
            background-color: #000;
            color: #fff;
        }
        &:first-child{
            border-top-left-radius:5px;
            border-left: none;
        }
        &:last-child{
            border-top-right-radius:5px;
            border-left: none;
        }
        }
    }
}