@import "../../responsive.scss";

nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;

  a {
    padding: 6px;
    border-radius: 2px;
    transition: all 0.2s ease;

    @include sm {
      display: none;
    }

    &:hover {
      transform: scale(1.05);
      background-color: #fcf5f3;
      
    }
  }

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .logo {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    img {
      width: 30px;
    }

    span {
      @include md {
        display: none;
      }

      @include sm {
        display: initial;
      }
    }
  }

  .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    background-color: #fcf5f3;
    gap: 50px;

    .user{
      display: flex;
      align-items: center;
      font-weight: bold;

      img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 30px;

        @include sm{
          margin-right: 0px;
        }
      }
    }

    a {
      padding: 12px 24px;
      border-radius: 3px;
    }
    .signup {
      background-color: #fece51;
      margin-right: 20px;
    }
    .profileText,.userName{
      @include sm{
          display: none;
        }
    }

    .profile{
      background-color: #fece51;
      margin: 20px;
      cursor: pointer;
      border: none;
      position: relative;
      

      .nofication{
        position: absolute;
        right: -8px;
        top: -8px;
        color: #fff;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .menuIcon {
      display: none;
      
      img {
        width: 32px;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
      }
      
      @include sm {
        z-index: 999;
        display: block;
        margin-right: 10px;
      }
    }
    .menu {
      position: absolute;
      background-color: #000;
      top: 0;
      right: -50%;
      color: #fff;
      height: 100vh;
      width: 45%;
      transition: all 0.6s ease;
      display: none;

      &.active {
        right: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        font-size: 24px;
      }

      @include sm {
        a {
          display: initial;
        }
      }
    }
  }
}
